<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733856306376-hpc7ep8tagi3pp26pqflicoel35sao3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733856306376-hpc7ep8tagi3pp26pqflicoel35sao3t</string>
	<key>API_KEY</key>
	<string>AIzaSyBpML8QUKNp1_1Mhh0EgLPFHEw54idBfnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>733856306376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mybedra</string>
	<key>PROJECT_ID</key>
	<string>mybedraauth</string>
	<key>STORAGE_BUCKET</key>
	<string>mybedraauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733856306376:ios:871ca616b51b4bdf2b81fd</string>
</dict>
</plist>